set daemon 30

set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set eventqueue
  basedir /var/lib/monit/events
  slots 100

set mailserver smtp.gmail.com port 587
  username "<%= fetch :monit_gmail_username %>"
  password "<%= fetch :monit_gmail_password %>"
  using tlsv1
  with timeout 30 seconds

set httpd port 2812 and
  use address localhost
  allow localhost

<%= "set alert #{fetch(:monit_alert_email)}" unless fetch(:monit_alert_email).nil? %>

<% unless fetch(:monit_password).nil? %>
set httpd port <%= fetch :monit_port %>
  allow admin:"<%= fetch :monit_password %>"
<% end %>

check system <%= "#{fetch(:application)}_#{fetch(:stage)}" %>
  if loadavg(5min) > 2 for 2 cycles then alert
  if memory > 75% for 2 cycles then alert
  if cpu(user) > 75% for 2 cycles then alert

include /etc/monit/conf.d/*
